.leftNav{
    display: flex;
    width: 15%;
    height: auto;
    min-height: 100vh;
    background: #222236;
    color: #5d5d5d;
    flex-direction: column;
    margin-left:2% ;
}
.title {
    color: white;
}

